*{
    box-sizing: border-box;
    font-family: "Times New Roman", Arial, SansSerif, Serif;
    font-size: 62.5%;
    text-align: center;

}

body{
    overflow-x: hidden;
}

h1{
    font-size: 3rem;
    text-align: center;
    color: green;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input{
    display: block;
    font-size: 2rem;
    width: 21%;
    height: 2.5rem;
    text-align: center;
    outline-color: black;
    margin-left: auto;
    margin-right: auto;
    resize: both;
    overflow: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


input:hover{
    border-color: gray;
}

::placeholder{
    color: lightgray;
}


label{
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
label:hover{
    color: gray;
}


select{
    font-size: 2rem;
    width: 21%;
    height: 2.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

select:hover{
    border-color: black;
}

option{
    font-size: 1.5rem;
    text-align: center;
}

option::selection{
    color: white;
    background-color: green;
}


button{
    width: 20%;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#errorMessageDisplayed{
    font-size: 14px;
    color: red;
}

