*{
    font-family: "Times New Roman", Arial, SansSerif, Serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.topNav{
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 5rem;
    background-color: #24252A;

}


.logo{
    display: block;
    color: gray;
    letter-spacing: 1rem;
    font-size: 2rem;
    cursor: pointer;
    float: left;
    position: relative;
    left: 1rem;
    top: 0.5rem;
    text-decoration-line: none;
    text-align: center;
}

.logo:hover{
    color: lightgray;
}

.linkblock{
    display: flex;
    justify-content: space-around;
    width: 30rem;
}

.links{
    font-size: 1.5rem;
    font-family: Arial, SansSerif, serif;
    color: gray;
    text-decoration: none;
    position: relative;
    left: 12rem;
}

